.NavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    /* max-height: 90px; */
    /* background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.15) 0%,
            rgba(0, 0, 0, 0.15) 100%
        ),
        radial-gradient(
                at top center,
                rgba(255, 255, 255, 0.4) 0%,
                rgba(0, 0, 0, 0.4) 120%
            )
            #989898;
    background-blend-mode: multiply, multiply; */
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to left,
        #0f2027,
        #203a43,
        #2c5364
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to left,
        #0f2027,
        #203a43,
        #2c5364
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    padding: 0 10px;
    z-index: 100;
    justify-content: flex-start;
    align-items: center;
}

.fill {
    flex: 1;
}

.logoWrapper {
    display: flex;
    align-items: center;
    width: 40%;
}
.logo {
    width: 8vh;
    height: 8vh;
}

.logoText {
    width: 70%;
}

.navigation {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation > a {
    text-align: center;
    text-decoration: none;
    color: #b3b3b3;
    font-weight: 400;
}

.navigation > a:hover {
    color: #fffaf0;
    font-weight: 500;
}

.navigation > a.active {
    color: #fffaf0;
    font-weight: 500;
}

@media (max-width: 768px) {
    .navigation {
        display: none;
    }
}

@media (max-width: 576px) {
    .NavBar {
        height: 10vh;
    }

    .logoWrapper {
        width: 70%;
    }

    .logo {
        width: 5vh;
        height: 5vh;
    }

    .logoText {
        width: 80%;
        height: 7vh;
    }
}
