.App {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    min-height: 80vh;
}

@media (max-width: 768px) {
    .container {
        margin-top: 18vh;
        min-height: 82vh;
    }
}

@media (max-width: 576px) {
    .container {
        margin-top: 12vh;
        min-height: 88vh;
    }
}
